<!-- role menu -->
<ul class="nav" id="main-menu-left">
  <% if (current_account) %>
    <%= partial "layouts/course_menu" %>
    <%= partial "layouts/#{current_account.role}_menu" %>
  <% end %>
</ul>

<ul class="nav pull-right" id="main-menu-right">
    <% if (current_account) %>
      <li><%= link_to t('menu.start'), '/', rel: 'tooltip', title: t('menu.start') %></li>
      <li><%= link_to current_account.email, url(:my, :profile), rel: 'tooltip', title: t('menu.profile') %></li>
      <li><%= button_to(:logout, url(:accounts, :logout), :method => :delete, :class => 'navbar-nav-form') { content_tag :button, t('menu.logout'), type: :submit, id: 'log_out_button', class: 'btn btn-default navbar-btn' } %></li>
    <% else %>
      <li><%= link_to t('menu.login'), url(:accounts, :login), rel: 'tooltip', title: t('menu.login') %></li>
    <% end %>
</ul>
